@page
@model RoleBasedSalarySystem.Client.Pages.Roles.IndexModel

<br/>
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Role List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Upsert" class="btn btn-info form-control text-white">Add New Role</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Roles.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Roles.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Roles.FirstOrDefault().Rate"></label>
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    @foreach(var role in Model.Roles)
                    {
                        <tr>
                            <td>@Html.DisplayFor(r => role.Name)</td>
                            <td>@Html.DisplayFor(r => role.Rate)</td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@role.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Upsert" asp-route-id="@role.Id" class="btn btn-success btn-sm text-white" style="cursor: pointer">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No roles available.</p>
            }
        </form>
    </div>
</div>