@page
@model RoleBasedSalarySystem.Client.Pages.Employees.IndexModel

<br/>
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Employee List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Upsert" class="btn btn-info form-control text-white">Add New Employee</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Employees.Count() > 0)
            {
                <div class="card-deck">
                    @foreach(var employee in Model.Employees)
                    {
                        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
                            <div class="card-header">
                                <h3>@employee.FullName</h3>
                            </div>

                            <img class="card-img-top" src="@employee.ProfilePictureUrl"
                                style="height: 200px; width: auto" alt="image" asp-append-version="true" />

                            <div class="card-footer text-center">
                                <button asp-page-handler="Delete" asp-route-id="@employee.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Upsert" asp-route-id="@employee.Id" class="btn btn-success btn-sm text-white" style="cursor: pointer">Edit</a>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>No employees available.</p>
            }
        </form>
    </div>
</div>